    .text_reader {
        border-top: solid  #3C3CFF; 
        border-bottom: solid  #3C3CFF;
        
    } 

    .atributes_header {
       margin-bottom: 1rem;
       padding-bottom: 0.5rem;
       border-bottom: 2px solid #3C3CFF;
       
    }

    .content_atributes {
        padding-left: 1rem;       
    }

    .content_bottom {
        margin-top: auto;
        
    }

    .button_m {
        grid-column-start: 2;
    }

    .card {
        max-width: 300px;
        margin: auto;
     } 

     .card_assets {
        grid-column-start: 1;
        grid-column-end: 1;
    }   

     .img_content {
        padding-left: 10px;
    }

    @media screen and (min-device-width:1080px){
       
           
    }
    @media screen and (max-device-width:1079px) and (min-device-width: 556px) {
        
        .card_assets {
            margin: auto;
        }
        .card {
            max-width:300px;
            width: 40vw;
         }    
    }
    
    @media screen and (max-device-width:555px){
        .button_m {
            grid-column-start: 1;
            grid-row-start: 1;
        }
        .card {
            max-width: 300px
         } 
         .card_assets {
            margin: auto;
            grid-row-start: 3;
            
        }      
    }   
       
    