    
    body {
        background-color: #40406b;
        font-size: 12px;
        font-family:'Roboto Condensed', sans-serif;
        margin: 0;
        margin-left: 0.5rem;
        
    }
    
    .container {
        background-image: url('./../assets/bg_legacy.jpg');
        background-position:center;    
        font-size: calc(0.5rem + 1vw);
    }
    
    .nav_top {
        margin-left: 1.4rem;
        background-color: #37376F;
        color: thistle;
        font-size: calc(0.5rem + 1vw);
        margin-bottom: 2rem; 
        
    }
    
    .nav_top header{
        width: fit-content;
        display: inline;
        color: antiquewhite;
    }
    
    .nav_top li, .nav_top ul, .nav_top h1{
        display: inline;
    }
    
    nav {
        margin-top: 1.8rem;
    }
    h2 {
        color: thistle;
    }
    footer {
        font-size: calc(0.5rem + 1vw);
        display: flex;
        margin-left: 2rem;
        margin-top: 10vh;
    }
    button {
        background-image: url('./../assets/bk_dark.jpg');
        background-position:center;
        color: thistle;
        
    }
    
    ul li a:hover  {
        background-color: blueviolet;
    }
    
    li {
        list-style-type: none; 
    
    }
    a {
        display: inline-block;
        text-decoration: none;
        color: thistle;
        transition: background 3s;
    }
    
    @media screen and (min-device-width:1080px) {
        .container {
            margin-top: 20vh;
            margin-left: 2rem;
            display: grid;
            grid-template-columns: 3fr 4fr 2fr;
            width: 80vw;
        }
        .header {
            grid-column-start: 2;   
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    @media (max-device-width:410px) and (min-device-width:250px) {
        .container {
            
            
            display: grid;
            grid-template-columns:1fr;
            
        }
        .header {
            grid-row-start: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            
        }
        footer {
            flex-direction: column;
         }
    }
    
 
    